body{
    @include zero;
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
   
}



#Nosotros {
    padding: 1rem;
    line-height: 1.3rem;

    p {
        padding-bottom: 4rem;

        color: white;
    }
}

#programas {
    padding: 1rem;
    line-height: 1.3rem;

    p {
        padding-bottom: 4rem;
    }

    color: white;
}

#Trabajos{
    padding: 1rem;
    line-height: 1.3rem;

    p {
        padding-bottom: 3rem;
    }

    color: white;

}

