body{
    @include zero;
    background-image: url(../img/19362653.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
  
}