#Nosotros h2 {background-color: $color-brown;}

#Servicios h2 {display: inline-block;
    background-color: $color-brown;}

#Servicios h3 {display:grid;
padding: 10px 5px;}

#Trabajos p {background-color: $color-brown;}

h1{font-size: 1.3rem}

h2 { @extend h1;}

h2{font-size: 1.2;}


h3{font-size: 1rem;}

p { @extend h3;}

li { @extend h3;}

ul{list-style: none;} 


