

h1 span{font-size: 1.3rem;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.7s linear;}

h1 :hover span:nth-child(1){
    margin-right: 5px;
}

h1 :hover span:nth-child(1)::after{
    content: "!";
}

h1 :hover span:nth-child(2){
    margin-left: 5px;}


h1 p{font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Helvetica, sans-serif;
    text-shadow: 0 0 10px rgb(43, 8, 167),
    0 0 20px rgba(75, 20, 179, 0.849),
    0 0 40px rgb(52, 12, 97)
    ; }